#input{
  width: 100%;
  padding: 0px;
}
.calculator{
  width: 220px;
}
.buttons{
  width: 224px;
}
.buttons button{
  border: 1px outset cornsilk;
  background-color: lightcoral;
  margin-right: 1.5px;
  margin-left: 1.5px;
  height: auto;
  width:53px;
  cursor:pointer;
}

.buttons button:hover {
  background-color: burlywood;
  color:white;
}
