

input#input{
  width: 221px;
  padding: 0px;
  border: 0px;
  background-color: burlywood;
  margin-right: 1.5px;
  margin-left: 4.5px;
}
.calculator{
  width: 230px;
  height: 50px;
  border: 2px;
  border-style: double;
  background-color: lightslategrey;
}
.buttons{
  width: 224px;
  padding: 3px;
}
.buttons button{
  background-color: lightcoral;
  border-color: black;
  margin-right: 1.5px;
  margin-left: 1.5px;
  height: auto;
  width:41.8px;
  cursor:pointer;
}

.buttons button:hover {
  background-color: burlywood;
  color:white;
}
